#mainCrumb {
	text-decoration: none;
	color: black;
}

.pagination li a,
.pagination a:hover {
	color: black;
}

.pagination .active a {
	background-color: #ffc107;
	color: #ffffff;
	border-color: black;
}
